* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
}

.nav-item {
    flex: 1;
    display: flex;
    justify-content: center;
}

.logo {
    height: 80px;
    width: auto;
}